[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PCPS"]
	path = PCPS
	url = https://github.com/vanderleidebastiani/pcps
[submodule "SYNCSA"]
	path = SYNCSA
	url = https://github.com/vanderleidebastiani/syncsa
